
<div style="margin:4em auto; font-size: 18px; text-align:center; transition: color 0.5s ease-in-out;">

<span class = "sans" style="padding:10px; cursor: pointer;" onclick="toggleTheme()">◐</span>



<span style="padding:10px; cursor: pointer;" onclick="switchFont()">T</span>

<span class = "sans" style="padding:10px; cursor: pointer;" onclick="toggleBook()">¶</span>

<!--
<span id = "Lang" style="padding:10px;" ><select class="myselect" onchange="setFont(this.value)">
    <optgroup label="Выберите шрифт">
      <option class = "sans" value="sans">Manrope</option>
      <option class = "serif" value="serif">Noto Serif</option>
      <option class = "mono" value="ia">IA Writer</option>
      <option class = "ia" value="mono">JetBrains Mono</option>
    </optgroup>
  </select>
</span>
-->

{%- comment -%}
<!--
<button onclick="toggleTheme()">Toggle Dark mode</button>
<button onclick="toggleSans()">Toggle Sans mode</button>
-->
{%- endcomment -%}

</div>
